input[type=email], input[type=text], select, textarea { 
    // margin-left: 50px;
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: inherit;
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all $duration ease;
    &:hover{
        box-shadow: 0 0 0 0 #fff inset, $accent-color 0 0 0 1px;
    }
    &:focus{
        background: rgba(164, 169, 197, 0.36);
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, $accent-color 0 0 0 2px;
    }
}

#message {
    padding: 9px 24px;
}

.contact-form {
    // background: red;
    // margin-right: 40px;
}