input[type=email], input[type=text], select, textarea { 
    // margin-left: 50px;
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: inherit;
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 2px;
    padding: 9px 12px;
    margin-bottom: 1rem;
    line-height: 1.4;
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all $duration ease;
    &:hover{
        box-shadow: 0 0 0 0 #fff inset, $accent-color 0 0 0 1px;
    }
    &:focus{
        background: rgba(164, 169, 197, 0.36);
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, $accent-color 0 0 0 2px;
    }
}

#message {
    // padding: 9px 24px;
}

.submit-button {
    background: $card-tag-color;
    padding: 12px 40px;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    transition-duration: $duration;
    &:hover {
        text-decoration: none;
        color: white;
        background: #5fe6ae;
    }
}

.contact-form {
    padding: 0 10vw;
}
