.hero {
    margin-top: 120px;
    line-height: 1.2em;
    display: flex;
    flex-wrap: nowrap;
    // text-decoration: #6FD08C wavy underline;
  }

  // FIX THIS FIRST
  .hero-images {
      width: 200px;
      display: grid;
      border: solid red;
  }
  #hero-image {
    background: image-url("face-test.svg");
    // width: 300px;
    // height: 300px;
    // min-height: 20%;
    // grid-area: overlap;
    z-index: 10;
    padding: 15%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -19px;
    background-size: 72%;
  }

  #hero-blob {
    background: image-url("hero-blob-cropped.svg");
    background-size: auto;
    background-position: left;
    min-height: 20%;
    background-repeat: no-repeat;
    // margin-left: -234px;
    // grid-area: overlap;
    padding: 149px;
    margin-left: -28%;
  }

  .text {
      margin-top: 0;
  }