.hero {
    margin-top: 120px;
    line-height: 1.2em;
    display: flex;
    flex-wrap: nowrap;
    // text-decoration: #6FD08C wavy underline;
  }

  // FIX THIS FIRST
  .hero-images {
      width: 200px;
  }
  #hero-image {
    background: image-url("face-test.svg");
  }

  #hero-blob {
    background: image-url("hero-blob.svg");
  }

  .text {
      margin-top: 0;
  }