.hero {
    margin-top: 120px;
    line-height: 1.2em;
    display: flex;
    flex-wrap: nowrap;
    // text-decoration: #6FD08C wavy underline;
  }

  // FIX THIS FIRST
  .hero-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  #hero-image {
    background: url("face-test.svg");
    min-height: 100%;
  }

  #hero-blob {
    background: url("hero-blob.svg");
    min-height: 100%;
  }
