// Specific CSS for your home-page

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: $background-color;
    color: $text-color;
    font-family: "Poppins", "Helvetica", "sans-serif";
    height: 100vh;
    line-height: 1.6;
    }
  
  h1 {
    font-size:  calc(1.2em + 3vw);
    font-weight: 900;
    // font-size: clamp(3em, calc(3em + 4vw), 7em);
    font-size: clamp(2em, calc(3em + 2vw), 5em);
  }

  h2 {
    font-size: calc(.8em + 1.5vw)
  }
  
  .hero {
    margin-top: 120px;
    line-height: 1.2em;
    display: flex;
    flex-wrap: nowrap;
    // text-decoration: #6FD08C wavy underline;
  }

  // FIX THIS FIRST
  #hero-image {
    background: image-url("#");
  }

  #hero-blob {
    background: image-url("hero-blob.svg");
  }

  // Dark mode colors
  .darkmode {
    color: $text-color-dark;
    background-color: $background-color-dark;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
