// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');

h1 {
    font-size: 100px;
    color: #2c313f;
    font-family: "Poppins", "Helvetica", "sans-serif";
}
