<section id="contact-section">
  <h2 class="section-title">Contact</h2>
  <div id="contact-container">
    <div id="contact-text-links">
      <p id="contact-text">
        <strong><a href="mailto:troy@troyruss.com" target="_blank" rel="noopener noreferrer" id="email-me">Send me an email</a></strong>
        at troy@troyruss.com, check my social media things, or shoot me a message through the contact form 
        <span id="right">to the right.</span>
        <span id="below">below.</span>
      </p>
      <div id="contact-links">
        <a href="https://github.com/troyruss" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-github contact-icon"></i>
        </a>
        <a href="https://linkedin.com/in/troyruss" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin contact-icon"></i>
        </a>
      </div>
    </div>
    <div class="contact-form">
      <form name="contact" method="POST" data-netlify="true">
        <div>
          <!-- <label for="name">Name</label> -->
          <input type="text" id="name" name="name" placeholder="name" />
        </div>
        <div>
          <!-- <label for="email">Email</label> -->
          <input type="email" id="email" name="email" placeholder="email" />
        </div>
        <div>
          <!-- <label for="message">Message</label> -->
          <textarea id="message" name="message" placeholder="message..."></textarea>
        </div>
        <div>
          <button type="submit" class="submit-button">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>