<section id="contact-section">
    <h2 class="section-title">Contact</h2>
    <a href="mailto:#" rel="noopener noreferrer" target="_blank">Email</a>
    <div class="contact-form">
      <form name="contact" method="POST" data-netlify="true">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" />
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" />
        </div>
        <div>
          <label for="message">Message</label>
          <textarea id="message" name="message" placeholder="message"></textarea>
        </div>
        <div>
          <button type="submit" class="submit-button">Send</button>
        </div>
      </form>
    </div>
  </section>
  