<section class="hero">
  <div class="hero-text">
    <h1>Hi, I'm Troy 👋</h1>
    <h2>I'm a curriculum developer making learning tools with code.</h2>
  </div>
  <div id="hero-image"></div>
  <div id="hero-blob"></div>
</section>