<section class="hero">
    <div class="text">
        <h1>Hi, I'm Troy 👋</h1>
        <h2>I'm a curriculum developer making learning tools with code.</h2>
    </div>
    <div id="hero-blob">
        <img id="hero-image" src="assets/images/face-test.svg" alt="">
    </div>
</section>