<section class="hero">
    <div class="text">
        <h1>Hi, I'm Troy 👋</h1>
        <h2>I'm a curriculum developer making learning tools with code.</h2>
    </div>
    <div class="hero-images">
        <div id="hero-image"></div>
        <div id="hero-blob"></div>
        <!-- <img id="hero-image" src="assets/images/face-test.svg" alt=""> -->
    </div>
</section>