<!-- <div class="switcher">
    <input type="radio" name="balance" value="basics" id="basics" class="switcher__input switcher__input--basics" checked="">
    <label for="basics" class="switcher__label">🌞</label>
  
    <input type="radio" name="balance" value="details" id="details" class="switcher__input switcher__input--details">
    <label for="details" class="switcher__label">🌛</label>
  
    <span class="switcher__toggle"></span>
  </div> -->

<label aria-label="toggle dark mode" class="switch">
    
<input type="checkbox" id="dark-mode-toggle">
<span class="slider">
  <div id="light-icon">🌞</div>
  <div id="dark-icon">🌛</div>
</span>
</label>
