<!-- <div class="switcher">
    <input type="radio" name="balance" value="basics" id="basics" class="switcher__input switcher__input--basics" checked="">
    <label for="basics" class="switcher__label">🌞</label>
  
    <input type="radio" name="balance" value="details" id="details" class="switcher__input switcher__input--details">
    <label for="details" class="switcher__label">🌛</label>
  
    <span class="switcher__toggle"></span>
  </div> -->
<label aria-label="dark mode toggle" class="switch">
    <div id="light-icon">🌞</div>
    <div id="dark-icon">🌛</div>
<input type="checkbox">
<span class="slider"></span>
</label>
