// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// General colors
$text-color: #2c313f;
$background-color: rgb(247, 247, 244);
$accent-color: #5AD7A2;

// Navbar colors
$nav-bg-color: hsl(0, 0%, 15%);
$nav-text-color: hsl(0, 0%, 85%);
$nav-text-color-focus: white;
$nav-bg-contrast: hsl(0, 0%, 25%);

// Card colors
$card-text-color: hsl(0, 0%, 85%);
$card-bg-color: #2E3134;
$card-tag-color: #5A6ED7;

// Darkmode colors
$text-color-dark: rgb(247, 247, 244);
$background-color-dark: #2c313f;