.card {
    color: $card-text-color;
    background: $card-bg-color;
    padding: 4rem 0 0;
    max-width: 35ch;
}

.card-content {
    padding: 1.5em;
    background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        hsla(20, 0%, 0%, 0.3) 20%,
        hsla(0, 0%, 0%, 1)
    );
}

.card-name {
    position: relative;
    width: max-content;
    &::after {
        content: "";
        position: absolute;
        height: 4px;
        left: calc(1.5rem * -1);
        bottom: 0;
        width: calc(100% + 1.5rem);
        background: red;
    }
}
