// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

$nav-bg-color: hsl(0, 0%, 15%);
$nav-text-color: hsl(0, 0%, 85%);
$nav-text-color-focus: white;
$nav-bg-contrast: hsl(0, 0%, 25%);
$duration: 100ms;
$nav-height: 64px;

#nav {
  position: fixed;
  height: $nav-height;
  background-color: $nav-bg-color;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.nav-item {
  margin: 0.4em;
  width: 100%;
}

.home-link, .nav-link {
  color: $nav-text-color;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition-duration: $duration;
  &:focus, &:hover {
    color: $nav-text-color-focus;
    text-decoration: none;
  }
}

.nav-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  &:focus, &:hover {
    color: $nav-text-color-focus;
    background-color: $nav-bg-contrast;
  }
}

.nav-logo {
  background-color: $nav-text-color-focus;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 0.5em;
}

#nav-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  &:hover .icon-halfbar {
    background-color: $nav-text-color-focus;
  }
  &:hover .icon-bar {
    background-color: $nav-text-color-focus;
  }
}

.icon-bar {
  display: block;
  width: 32px;
  height: 4px;
  margin: 2px;
  background-color: $nav-text-color;
  transition-property: background-color;
  transition-duration: $duration;
}

.icon-halfbar {
  display: block;
  width: 16px;
  height: 4px;
  margin: 2px;
  background-color: $nav-text-color;
  transition-property: background-color;
  transition-duration: $duration;
}

#nav-toggle[aria-expanded='true'] {
  align-items: center;
}

#nav-toggle[aria-expanded='true'] .icon-bar {
  &:nth-child(2), &:last-child {
    position: absolute;
    margin: 0;
    width: 32px;
  }
}

#nav-toggle[aria-expanded='true'] .icon-halfbar {
  width: 32px;
  transform: rotate(45deg);
}

#nav-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
  opacity: 0;
}

#nav-toggle[aria-expanded='true'] .icon-bar:last-child {
  transform: rotate(-45deg);
}

#nav-menu {
  position: fixed;
  top: $nav-height;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#nav-toggle[aria-expanded='true'] + #nav-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.nav-links {
  background-color: $nav-bg-color;
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 1.4rem;
  left: 0;
  right: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
}

#nav-toggle[aria-expanded='true'] + #nav-menu .nav-links {
  padding: 1em;
}

@media screen and (min-width: 700px) {
  #nav-toggle {
      display: none;
  }
  
  #nav #nav-menu,
  #nav.opened #nav-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
  }

  #nav .nav-links,
  #nav.opened .nav-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      list-style-type: none;
      max-height: max-content;
      width: 100%;
      height: 100%;
  }

  #nav .nav-link:last-child {
      margin-right: 0;
  }
}