// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

$nav-bg-color: hsl(0, 0%, 15%);
$nav-text-color: hsl(0, 0%, 85%);
$nav-text-color-focus: white;
$nav-bg-contrast: hsl(0, 0%, 25%);
