<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Troy's Portfolio</title>
</head>
<body>
  <%= partial(:'partials/nav', :locals => { :name => 'Troy', :color => '#2D313E !important' })%>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="hero">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi magni tempora amet est labore illum doloribus recusandae minus.
        </div>
      </div>
    </div>
  </div>
  <span>HEYYY</span>
</body>
</html>
